---
import AstroButton from '@astrahub/core-astro/components/Button.astro';
import { Button as ButtonReact } from '@astrahub/core-react';
import Layout from '@layout/layout.astro';
---

<Layout title="Página de inicio">
  <div class="space-y-4">
    <ButtonReact>Botón por defecto (Astrahub)</ButtonReact>
    <ButtonReact theme="grotesk">Grotesk default</ButtonReact>
    <ButtonReact theme="grotesk" variant="outline">Grotesk outline</ButtonReact>
    <ButtonReact theme="astrahub" variant="secondary">Astrahub secondary</ButtonReact>
  </div>
</Layout>