---
import Button from '@astrahub/core-astro/components/Button.astro';
import { Button as ButtonReact } from '@astrahub/core-react/components/Button';
import Layout from '@layout/layout.astro';
---

<Layout title="Página de inicio">
  <h1 class="text-2xl font-bold mb-4">Demo Astro + React</h1>
  <Button />
  <ButtonReact>Botón de React</ButtonReact>
</Layout>